:root {
	--accent-color: #003660;
	--text-color: #000000;
	--manifold-color: #e1e1e1;
	--std-font: "Open Sans";
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--std-font);
}

p {
	color: var(--text-color);
}

html,
body,
#map {
	height: 100%;
	width: 100vw;
	z-index: 0;
}