:root {
	--accent-color: #003660;
	--text-color: #000000;
	--manifold-color: #e1e1e1;
	--std-font: "Open Sans";
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--std-font);
}

p {
	color: var(--text-color);
}

html,
body,
#map {
	height: 100%;
	width: 100vw;
	z-index: 0;
}

.ruta {
	bottom: 10px;
	left: 10px;
	background: var(--manifold-color);
	border-radius: 5px;
	border: 1px solid;
	z-index: 1;
	padding: 10px;
	position: absolute;
}

.hexbin-hexagon {
	stroke: var(--accent-color);
	stroke-width: 1px;
}

.hexbin-container:hover .hexbin-hexagon {
	transition: 200ms;
	stroke: var(--accent-color);
	stroke-width: 2px;
	stroke-opacity: 1;
}

.hexbin-tooltip {
	padding: 8px;
	border-radius: 4px;
	border: 1px solid var(--accent-color);
	background-color: white;
}

input[type='checkbox'],
input[type='radio']{
	accent-color: var(--accent-color);
}

a:link,
a:visited {
	color: var(--accent-color);
}


.leaflet-control-layers {
  border: 1px solid var(--accent-color);
  background: var(--manifold-color);
  
}


/* .leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	font: bold 35px 'Lucida Console', Monaco, monospace; 
	text-indent: 0px;
	border: none
} */

.leaflet-touch .leaflet-bar a {
	background-color: var(--manifold-color);
	width: 40px;
	height: 40px;
	line-height: 40px;
}